<!DOCTYPE html>

<html lang="en">
    <head>
        <title>🏗️ vocal</title>
        <%- include('./partials/head.ejs') %>
    </head>
    <body class="bg-dark text-white">
        <div class="container mb-3" style="max-width: 50rem;">
            <%- include('./partials/nav.ejs') %>
            <img
                src="<%- profile.avatar %>"
                width=150
                height=150
                alt="profile picture"
                id="pfp"
                onError=""
                class="rounded-circle mx-auto d-block mb-2"
            />

            <p class="h4 fw-light text-center mb-0"><%- profile.username %></p>

            <% if(profile.bio) { %>
                <p class="fw-light text-center text-muted mb-0 text-break"><%- profile.bio %></p>

                <div class="text-center mb-2 mt-0">
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.followers.length %></span> followers</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold">2</span> posts</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.following.length %></span> following</p>
                </div>
            <% } else { %>
                <span class="mb-0"></span>

                <div class="text-center mb-1 mt-0">
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.followers.length %></span> followers</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.posts.length %></span> posts</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.following.length %></span> following</p>
                </div>
            <% } %>

            <div class="text-center">
                <button class="btn fw-light mx-auto text-white mx-auto mb-3 shadow-sm gradient-bg" href="?inputCode=true">
                    follow <%- profile.username %>
                </button>
            </div>

            <% if(profile.posts.length != 0) { %>
                <div class="div-sm mb-3"></div>

                <div class="row row-cols-1 row-cols-md-2 g-4" data-masonry="{'percentPosition': true}">
                    <% for(const post of profile.posts) { %>
                        <div class="col">
                            <div class="card border-0 shadow-sm" style="background: rgb(25, 25, 25);">
                                <% if(post.imageUrl) { %>
                                    <img src="<%- post.imageUrl %>" alt="post image" class="postTop card-img-top">
                                <% } %>

                                <div div class="card-body">
                                    <h5 class="card-title mb-1"><%- post.title %></h5>

                                    <p class="card-subtitle mb-1 text-muted">
                                        <%- new Date().toLocaleString("en-US", {timeZone: "America/New_York"}) %>
                                    </p>

                                    <p class="card-text"><%- post.content %></p>

                                    <% if(user.likes.indexOf({id: post.id}) > -1) { %>
                                        <form action="/api/posts/<%- post.id %>/unlike" method="post" class="d-inline me-1">
                                            <a
                                                class="text-white text-muted text-decoration-none"
                                                style="cursor: pointer;"
                                                onclick="this.parentNode.submit();"
                                            >
                                                <i class="bi bi-heart-fill p-1 text-danger"></i> unlike
                                            </a>
                                        </form>
                                    <% } else { %>
                                        <form action="/api/posts/<%- post.id %>/like" method="post" class="d-inline">
                                            <a
                                                class="text-white text-muted text-decoration-none"
                                                style="cursor: pointer;"
                                                onclick="this.parentNode.submit();"
                                            >
                                                <i class="bi bi-heart-fill p-1"></i> like
                                            </a>
                                        </form>
                                    <% } %>

                                    <% if(user.id == post.author.id) { %>
                                        <form action="/api/posts/<%- post.id %>/remove" method="post" class="d-inline">
                                            <a
                                                class="text-white text-muted text-decoration-none"
                                                style="cursor: pointer;"
                                                onclick="this.parentNode.submit();"
                                            >
                                                <i class="bi bi-trash-fill p-1"></i> remove
                                            </a>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
        </div>
    </body>
</html>

<script>
    $('#pfp').on('error', function () {
        $(this).attr('src', '/images/no-pfp.jpg');
    });

    $('.postTop').on('error', function () {
        $(this).attr('src', '/images/no-pfp.jpg');
    });
</script>

<script>
    var $grid = document.querySelector('.row');
    var msnry = new Masonry($grid, {
        itemSelector: '.col',
        percentPosition: true,
        transitionDuration: 0
    });

    var $images = $grid.querySelectorAll('.card img');
    $images.forEach(function (el) {
        el.addEventListener('load', function () {
            console.log("Image is loaded: " + el.getAttribute("src"));
            msnry.layout();
        });
    });
</script>