<!DOCTYPE html>

<html lang="en">
    <head>
        <title>🏗️ vocal</title>
        <%- include('./partials/head.ejs') %>
    </head>
    <body class="bg-dark text-white">
        <div class="container mb-3" style="max-width: 50rem;">
            <%- include('./partials/nav.ejs') %>
            <img 
                src="<%- profile.avatar %>"
                width=150
                height=150
                alt="profile picture"
                id="pfp"
                onError=""
                class="rounded-circle mx-auto d-block mb-2"
            />

            <p class="h4 fw-light text-center mb-0"><%- profile.username %></p>

            <% if(profile.bio) { %>
                <p class="fw-light text-center text-muted mb-0 text-break"><%- profile.bio %></p>

                <div class="text-center mb-2 mt-0">
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.followers.length %></span> followers</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold">2</span> posts</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.following.length %></span> following</p>
                </div>
            <% } else { %>
                <span class="mb-0"></span>

                <div class="text-center mb-1 mt-0">
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.followers.length %></span> followers</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold">2</span> posts</p>
                    <p class="fw-light text-muted text-break d-inline"><span class="fw-bold"><%- profile.following.length %></span> following</p>
                </div>
            <% } %>

            <div class="text-center">
                <button class="btn fw-light mx-auto text-white mx-auto mb-3 shadow-sm gradient-bg" href="?inputCode=true">
                    follow <%- profile.username %>
                </button>
            </div>
            
            <div class="div-sm mb-3"></div>

            <div class="row row-cols-1 row-cols-md-2 g-4" data-masonry="{'percentPosition': true}">
                <div class="col">
                    <div class="card border-0 shadow-sm" style="background: rgb(25, 25, 25);">
                        <img src="" class="card-img-top postTop" alt="post top">

                        <div div class="card-body">
                            <h5 class="card-title">my new pfp</h5>
                            <p class="card-text">i have a new pfp, thats really cool, right? thanks for coming to my ted talk, lol</p>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card border-0 shadow-sm" style="background: rgb(25, 25, 25);">
                        <div div class="card-body">
                            <h5 class="card-title">a text post</h5>
                            <p class="card-text">yeah idk</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card border-0 shadow-sm" style="background: rgb(25, 25, 25);">
                        <img src="https://www.thesprucepets.com/thmb/hThcFCxT20ql0opGe4B8WGICbc4=/1851x1851/smart/filters:no_upscale()/cat-talk-eyes-553942-hero-df606397b6ff47b19f3ab98589c3e2ce.jpg" class="card-img-top postTop" alt="post top">

                        <div div class="card-body">
                            <h5 class="card-title">dog?</h5>
                            <p class="card-text">no. we love cats! we love cats! we love cats! we love cats! we love cats! we love cats!</p>
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="card border-0 shadow-sm" style="background: rgb(25, 25, 25);">
                        <div div class="card-body">
                            <h5 class="card-title">a text post</h5>
                            <p class="card-text">yeah idk</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>

<script>
    $('#pfp').on('error', function () {
        $(this).attr('src', '/images/no-pfp.jpg');
    });

    $('.postTop').on('error', function () {
        $(this).attr('src', '/images/no-pfp.jpg');
    });
</script>

<script>
    var $grid = document.querySelector('.row');
    var msnry = new Masonry($grid, {
        itemSelector: '.col',
        percentPosition: true,
        transitionDuration: 0
    });

    var $images = $grid.querySelectorAll('.card img');
    $images.forEach(function (el) {
        el.addEventListener('load', function () {
            console.log("Image is loaded: " + el.getAttribute("src"));
            msnry.layout();
        });
    });
</script>